<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>
    <div class="header">
        <h1 class="title" >{{title}}</h1>
        <div class="separer"></div>
        <p>Learning handlebars and express</p>
        <img src="img/handlebars.png" alt="Handlebars" width="300px">
        <a href="/about">go to about.</a>
    </div>
</body>
</html>